/* Jakub Stormowski
hover - pseudoklasa która zmienia styl elementu po najechaniu na niego myszką */
div 
{
    width: 623px;
    background-color: green;
}

#blok1_Stormowski:hover
{
    background-color:orange;
    font-size: 20mm;
}

#blok2_Stormowski:hover
{
    background-color:blue;
    font-size: 20mm;
}

#blok3_Stormowski:hover
{
    background-color:turquoise;
    font-size: 20mm;
}
