/*Jakub Stormowski*/
div#pierwszy_stormowski
{
    width: 792pt ;
    border-top-right-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: pink;
    border: violet solid 7px;
}
div#drugi_stormowski
{
    width: 992pt ;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgreen;
    border-top-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border: black solid 3px;
}
div#trzeci_stormowski
{
    width: 1192pt ;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    border-top-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border: darkblue solid 5px;
}
p
{
    font-size:11pt;
}
p:first-child
{
    font-size:7mm;
    font-style:italic;
}
